
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

 
<div id="Sucess" class="alert alert-success" style="display: none;">
    <strong>Sucess!</strong> File Uploaded successfully
</div>

<div id="NoFile" class="alert alert-warning" style="display: none;">
    <strong>Failed!</strong> Please choose a file
</div>

<div id="Error" class="alert alert-warning" style="display: none;">
    <strong>Failed!</strong> Mandatory fields cannot be empty
</div>


<div id="Invalid" class="alert alert-danger" style="display: none;">
    <strong>Failed!</strong> Unable to upload the file
</div>



<h3>File upload</h3>
<p>Please choose the movie to upload</p>
 

<form method="post" enctype="multipart/form-data">
    

    <p>Please upload video files</p>

    <label class="control-label">Select movie</label>

    <div class="input-group image-preview">
        <input name="_File" id="_File" type="file" accept="doc,pdf" />
        <span class="input-group-btn">
            <!-- image-preview-clear button -->
            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                <span class="glyphicon glyphicon-remove"></span> Clear
            </button>


        </span>
    </div>



    <br>
    <div class=" text-center">
        <button type="submit" class="btn btn-primary pull-left ">Upload</button>
    </div>
</form>


<script>
    $(document).ready(function () {



        $("#key").on("change paste keyup", function () {
            $('#key').val(function () {
                return this.value.toUpperCase();
            })
        });

        var val = '@Html.Raw((string)TempData["AlertMessage"])';


        if (val == "Sucess") {
            $("#Sucess").fadeIn(300);
            $("#Sucess").delay(2000).fadeOut(500);
        }
        else if (val == "Error") {
            if (val != "") {
                $("#Error").fadeIn(300);
                $("#Error").delay(2000).fadeOut(500);
            }
        }
        else if (val == "Invalid") {
            $("#Invalid").fadeIn(300);
            $("#Invalid").delay(2000).fadeOut(500);
        }
        else if (val == "NoFile") {
            $("#NoFile").fadeIn(300);
            $("#NoFile").delay(2000).fadeOut(500);
        }







        $('#register-submit').click(function () {

            var password = $('#confirm-password2').val();
            var Cnfpassword = $('#confirm-password').val();

            if (password != Cnfpassword) {
                $("form").submit(function (e) {
                    e.preventDefault();
                });
                $("#Error").fadeIn(300);
                $("#Error").delay(2000).fadeOut(500);
            }
            else
                if (val == "Error") {
                    if (val != "") {
                        $("#Error").fadeIn(300);
                        $("#Error").delay(2000).fadeOut(500);
                    }
                }
        });







    });
</script>